#askButton{
    background-color: #165A92;
    height: 50px;
    width: 150px;
    color: white;
    border-radius: 10px 10px;
    font-size: 16px;
}




#table{
    width: 100%;
}


